nav img{
    width: 120px;
    filter: brightness(100);
    margin-right: 30px;

}

.header nav{
    padding-top: 20px;
    line-height : 40px;
    font-size: 15px;
}

nav input[type=text]{
    display: inline;
    width: 40%;
    margin-right: 40px;
    opacity: 0.3;

}


.header{
    padding : 0px 100px;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding : 5px;
}

nav a:hover{
    background-color : gray;
}