.App {
  text-align: center;
  
  width: 100%;
  height: 1100px;
  /* filter: blur(4px);
  -webkit-filter: blur(4px); */
  
}

.min-height{
  min-height: fit-content;
}

.imageBackground{
  background-image: url("./images/sea-beach.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: fixed;
  height: 100%; 
}

.colorBackground{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.8);
  
  width: 100%;
  height: 100%;
  min-height: inherit;
  color : white;
}

.commonButton{
  background-color: #F9A51A;
  border: 1px solid #865f07;
  border-radius: 10px;
  color: black;
  padding : 2px 20px;
}

